footer{
    .footer-section{
        background-color: $black;
        padding-top: 100px;
        padding-bottom: 150px;
        .footer-container{
            display: flex;
            justify-content: space-between;
            .one{
                display: flex;
                flex-direction: column;
                gap: 100px;
                .contant{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .p-text{
                        font-family: "Gilroy";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 21.6px */
                        letter-spacing: -0.36px;
                        color: $white;
                        width: 226px;
                        opacity: 0.4;
                    }
                }
            }
            .two{
                .text{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    a{
                        text-decoration: none;
                    }
                    .p-text{
                        display: block;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 21.6px */
                        letter-spacing: -0.36px;
                        color: $white;
                        opacity: 0.6;
                    }
                }
            }
            .three{
                display: flex;
                flex-direction: column;
                gap: 40px;
                .h1-text{
                    display: block;
                    font-family: "Druk_Wide_Cyr";
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 60px */
                    letter-spacing: -1px;
                    text-transform: uppercase;
                    color: $white;
                    width: 722px;
                }
                .grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 830px;
                    gap: 20px;
                    input{
                        width: 415px;
                        padding: 25px 20px;
                        background-color: none;
                        border: 2px solid rgba(255, 255, 255, 0.10);
background: var(--black, #000);
                    }
                }
            }
        }
    }
}