.close{
    display: none;
}
.open{
    display: block;
}
.popup-fade{
  
    position: relative;
    z-index: 99;
    .popup-container{
        display: block;
        position:fixed;
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        padding: 40px;
        padding-bottom: 0;
        width: 660px;
        .one{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text{
              .fully{
                display: block;
                font-family: "Druk_Wide_Cyr";
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 60px */
                letter-spacing: -1px;
                text-transform: uppercase;
              }  
            }
        }
        .one-content{
                .p-text{
                display: block;
                margin-top: 30px;
                font-family: "Gilroy";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 28.8px */
                letter-spacing: -0.48px;
                }
                .button-one{
                    display: flex;
                    margin-top: 40px;
                    button{
                        color: $black;
                        opacity: 0.4;
                        width: 50%;
                        padding: 20px 30px;
                        font-family: "Gilroy";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 21.6px */
                        letter-spacing: -0.36px;
                        background: rgba(0, 0, 0, 0.10);
                        border: none;
                    }
                    .grey-one:focus{
                        background-color: #000;
                        color: $white;
                        opacity: 1;
                    }
                }
               .one-button{
                margin-top: 20px;
                width: 100%;
               } 
        }
        .kg{
            .p-text{
                margin-top: 30px;
                display: block;
                font-family: "Gilroy";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 28.8px */
                letter-spacing: -0.48px;
                opacity: 0.4;
            }
            .choice{
                width: 100%;
                display: flex;
                margin-top: 40px;
                .grey{
                    cursor: pointer;
                    font-family: "Druk_Wide_Cyr";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -0.32px;
                    text-transform: uppercase;
                    background: rgba(0, 0, 0, 0.20);
                    opacity: 0.4;
                    padding: 20px 30px;
                    width: 100%;
                    text-align: center;
                    border: none;
                }
                .grey:focus{
                    background-color: black;
                    color: $white;
                    opacity: 1;
                }
            }
            input{
                border: 2px solid rgba(0, 0, 0, 0.10);
                padding: 25px 20px;
                width: 100%;
                font-family: "Gilroy";
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 21.6px */
                letter-spacing: -0.36px;
                opacity: 0.3;
                margin-top: 20px;
            }
            .two-button{
                width: 100%;
                margin-top: 20px;
            }

        }
        .three-content{

            .p-text{
                font-family: "Gilroy";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 28.8px */
                letter-spacing: -0.48px;
                opacity: 0.4;
                margin-top: 30px;
            }
            .text{
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 40px;
                text-align: center;
                justify-content: center;
                input{
                    opacity: 0.3;
                    font-family: 'Gilroy';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 21.6px */
                    letter-spacing: -0.36px;
                    padding: 25px 20px;
                    border: 2px solid rgba(0, 0, 0, 0.10);
                }
                .text-one{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                .small-text{
                    display: block;
                    font-family: 'Gilroy';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 16.8px */
                    letter-spacing: -0.28px;
                    width: 340px;
                    
                }
            }
        }
        .first-step{
            width: 100%;
            display: flex;
            margin-top: 55px;
            .black{
                display: block;
                background-color: #000;
                font-family: "Druk_Wide_Cyr";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.32px;
                text-transform: uppercase;
                width: 100%;
                padding: 15px 0;
                color: $white;
                text-align: center;
            }
            .grey{
                text-align: center;
                display: block;
                background-color:#999;
                font-family: "Druk_Wide_Cyr";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                color: rgb(0, 0, 0);
                line-height: normal;
                letter-spacing: -0.32px;
                text-transform: uppercase;
                width: 100%;
                padding: 15px 0;
                opacity: 0.2;
            }
        }
    }
    
}

.popup-fade:before {
    content: "";
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    
}
.close-popup{
    cursor: pointer;
}