section{
    overflow: hidden;
    padding-right: 0px;
    .hero-section{
        background-color: $black;
        padding-top:200px ;
        padding-bottom: 40px;
        width: 100vw;
        height: 100vh;
        background-size: contain;
        background-position: right;
        background-image: url(../images/background/man.png);
        background-repeat: no-repeat;
        @include tabletHorizontal{
            background-position: bottom;
            padding-top: 100px;
        }
        
        &.croot{
            background-image: url(../images/background/poom.png);
        }
        &.eat{
            background-image: url(../images/background/eat.png);
            
        }
        &.program{
            background-image: url(../images/background/program.png);
            .hero-container .content .h1-text{
                width: 1122px;
            }
        }
        .hero-container{
            .low-text{
                display: block;
                font-family: "Gilroy";
                color: white;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 28.8px */
                letter-spacing: -0.48px;
                width: 641px;
                margin-top: 40px;
            }
            .content{
                display: flex;
                flex-direction: column;
                gap: 40px;
                
                .p-text{
                    font-family: "Gilroy";
                    display: block;
                    font-size: 24px;
                    color: $white;
                }
                .couch{
                    display: block;
                    color: $white;
                    padding: 10px 20px;
                    border-radius: 1000px;
                    border: 1px solid rgba(255, 255, 255, 0.20);
                    width: 117px;
                }
                .h1-text{
                    font-family: "Druk_Wide_Cyr";
                    width: 1038px;
                    display: block;
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 76.8px */
                    letter-spacing: -1.28px;
                    text-transform: uppercase;
                    color: $white;
                    @include tabletHorizontal{
                        width: 335px;
                        
                    }
                    .grey{
                        font-family: "Druk_Wide_Cyr";
                        color:rgba(255, 255, 255, 0.60);
                    }
                }
                .arror-text{
                    display: flex;
                    flex-direction: column;
                    padding: 30px;
                    gap: 30px;
                    backdrop-filter: blur(100px);
                    width: 800px;
                    @include tabletHorizontal{
                        width: 605px;
                    }
                    .h1-text{
                        display: block;
                        font-family: "Gilroy";
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 38.4px */
                        letter-spacing: -0.64px;
                        
                    }
                    .arror-container{
                        display: flex;
                        gap: 10px;
                        .p-text{
                            font-family: "Gilroy";
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 21.6px */
                            letter-spacing: -0.36px;
                            color: $white;
                        }
                    }
                }
            }
            button{
                margin-top: 100px;
            }
        }
    }
    .section-hello{
        padding: 180px 0;
        .hello-container{
            display: flex;
            flex-direction: column;
            gap: 60px;
            text-align: left;
            .h1-text-wow{
                font-family: "Druk_Wide_Cyr";
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 60px */
                letter-spacing: -1px;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.2);
                margin-bottom: -100px;
                color: transparent;
                -webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);



            }
            .h1-text{
                font-family: "Druk_Wide_Cyr";
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 60px */
                letter-spacing: -1px;
                text-transform: uppercase;
                max-width: 1414px;
                .grey{
                    @include grey;
                }
            }
            .p-text{
                font-size: 24px;
                width: 886px;
                margin-top: -20px;
            }
            button{
                align-items: flex-start;
                width: 385px;
            }
        }
    }
    .swiper-container{
        
        .cars{
            display: flex;
            @include tabletHorizontal{
                flex-direction: column;
            }
            .card{
                display: flex;
                flex-direction: column;
                gap: 40px;
                padding: 40px;
                border-right: 1px solid $black;
                @include tabletHorizontal{
                    border-bottom: 1px solid $black;
                }
                .h1-text{
                    font-family: "Gilroy";
                    display: block;
                    font-size: 32px;
                    width: 274px;
                }
                .p-text{
                    font-family: "Gilroy";
                    display: block;
                    max-width: 386px;
                    font-size: 18px;
                }
            }
            .border-right{
                border-right: none;
            }
        }
        .banner{
            background-color: $green;
            padding: 40px 0;
            margin-bottom: 140px;
            .h1-text{
                font-family: "Druk_Wide_Cyr";
                font-size: 24px;
                color: $black;
                display: block;
                text-align: center;
            }
        }
    }
    .auto-section{
        display: flex;
        padding: 60px 0;
        border:  1px solid $black;
        .divs{
            display: flex;
            
        }
        .h1-text{
            font-family: "Druk_Wide_Cyr";
            display: block;
            font-size: 84px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 60px */
            letter-spacing: -1px;
            @include tabletHorizontal{
                font-size: 32px;
            }
            svg{
                height: 24px;
            }
        }
        
    }
    .stages-section{
        background-color: $black;
        padding: 140px 0;
        .stages-container{
            display: flex;
            flex-direction: column;
            gap: 40px;
            .start{
                display: flex;
                justify-content: space-between;
                align-content: flex-start;
                .h1-text{
                    font-family: "Druk_Wide_Cyr";
                    display: block;
                    font-size: 50px;
                    width: 1026px;
                    color: $white;
                }
                button{
                    display: block;
                    align-content: flex-start;
                    height: 62px;
                    @include tabletHorizontal{
                        display: none;
                    }
                }
            }
            .p-text{
                display: block;
                width: 614px;
                font-size: 24px;
                color: $white;
                opacity: 0.6;
            }
            .cards{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                border: 1px solid $white;
                @include tabletHorizontal{
                    grid-template-columns: 1fr;
                }
                svg{
                    @include tabletHorizontal{
                        display: none;
                    }
                }
                .white{
                    display: flex;
                    justify-content: space-between;
                    padding: 22px;
                    background-color: $white;
                    align-items: flex-end;
                    .h1-text{
                        font-family: "Druk_Wide_Cyr";
                        color: $black;
                        display: block;
                        font-size: 200px;
                        font-weight: 700;
                        height: 208px;
                        @include small_laptop{
                            font-size: 150px;
                        }   
                    }
                    .p-text{
                        font-family: "Gilroy";
                        display: block;
                        font-size: 32px;
                        width: 288px;
                        
                        color: $black;
                        @include laptop{
                            font-size: 28px;
                            max-width: 240px;
                        }
                        @include small_laptop{
                            font-size: 22px;
                            max-width: 200px;
                        }
                    }
                }
                .black{
                    display: flex;
                    text-align: center;
                    justify-content: center;
                }
                .white-black{
                    display: flex;
                    justify-content: space-between;
                    padding: 22px;
                    background-color: $white;
                    align-items: flex-end;
                    opacity: 0.6;
                    .h1-text{
                        font-family: "Druk_Wide_Cyr";
                        color: $black;
                        display: block;
                        font-size: 200px;
                        font-weight: 700;
                        height: 208px;
                        @include small_laptop{
                            font-size: 150px;
                        }
                    }
                    .p-text{
                        display: block;
                        font-size: 32px;
                        width: 288px;
                        font-family: "Gilroy";
                        color: $black;
                        @include laptop{
                            font-size: 28px;
                        }
                        @include small_laptop{
                            font-size: 22px;
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
    .program-section{
        padding: 140px 0;
        .program-container{
            display: flex;
            flex-direction: column;
            .contant-start{
                display: flex;
                flex-direction: column; 
                @include tabletVertical{
                    display: none;
                }
                .program{
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    width: 100%;
                    padding-bottom: 80px;
                    border-bottom: 2px solid $black;
                    .text{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        .h1-text{
                            font-family: "Druk_Wide_Cyr";
                            display: block;
                            font-size: 50px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%;
                        }
                        .p-text{
                            font-family: "Gilroy";
                            display: block;
                            width: 550px;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 28.8px */
                            letter-spacing: -0.48px;
                        }
                    }
                }
                .container-content{
                    padding: 55px 0;
                    border-bottom: 2px solid $black;
                    align-items: flex-start;
                    display: flex;
                    justify-content: space-between;
                    .tags{
                        display: flex;
                        gap: 10px;
                        width: 320px;
                        @include tabletHorizontal{
                            width: 272px;
                        }
                        .tag{
                            padding: 10px 20px;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 21.6px */
                            letter-spacing: -0.36px;
                            border-radius: 1000px;
                            border: 1px solid rgba(0, 0, 0, 0.20);
                            @include tabletHorizontal{
                                font-size: 14px;
                            }
                        }
                    }   
                    .content{
                        display: flex;
                        padding: 55px 0;
                       
                        
                        gap: 350px;
                        @include laptop{
                            gap: 288px;
                        }
                        @include tabletHorizontal{
                            gap: 119px
                        }
                        .h1-text{
                            font-family: "Gilroy";
                            display: block;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 38.4px */
                            letter-spacing: -0.64px;
                            @include tabletHorizontal{
                                font-size: 20px;
                            }
                        }
                        .text{
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            @include tabletHorizontal{
                                width: 358px;   
                            }
                            .p-text{
                                font-family: "Gilroy";
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%; /* 21.6px */
                                letter-spacing: -0.36px;
                            }
                        }
                        
                    }
                }
                
            }
            .contant-mobile{
                display: none;
                @include tabletHorizontal{
                    display: block;
                }
                .text{
                   margin-bottom: 20px;
                    .h1-text{
                        display: block;
                        font-family: "Druk_Wide_Cyr";
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 38.4px */
                        letter-spacing: -0.64px;
                        text-transform: uppercase;
                    }
                    .p-text{
                        display: block;
                        width: 290px;
                        font-family: Gilroy;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 16.8px */
                        letter-spacing: -0.28px;
                        color: #000;
                        opacity: 0.6;
                    }
                }
                .end-contant{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .button-programm{
                        display: flex;
                        gap: 10px;
                        button{
                            border: none;
                            padding: 10px;
                            border-radius: 1000px;
                            background: rgba(0, 0, 0, 0.10);
                        }
                    }
                }
                .slider-program{
                    
                    .container-content{
                        padding: 30px 0;
                        border-top:1px solid black ;
                        border-bottom:1px solid black ;
                    }
                    .content{
                        display: flex;
                        
                        flex-direction: column;
                        
                        .h1-text{
                            display: block;
                            font-family: "Gilroy";
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 28.8px */
                            letter-spacing: -0.48px;
                            color: #000;
                            opacity: 0.4;
                        }
                        .text{
                            .h1-text{
                                display: block;
                                font-family: "Gilroy";
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%; /* 28.8px */
                                letter-spacing: -0.48px;
                                opacity: 1;
                                margin-top: 40px;
                            }
                            .p-text{
                                display: block;
                                font-family: 'Gilroy';
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%; /* 16.8px */
                                letter-spacing: -0.28px;
                                color: #000;
                                opacity: 0.6;
                                width: 280px;
                            }
                        }
                        
                    }
                    .tags{
                        display: flex;
                        gap: 10px;
                        .tag{
                            padding: 10px 20px;
                            border-radius: 1000px;
                            border: 1px solid rgba(0, 0, 0, 0.20);
                        }
                    }
                }
            }
        }
    }
    .table-section{
        padding: 140px 0;
        background-color: $green;
        .table-container{
            display: flex;
            flex-direction: column;
            gap: 44px;
            .h1-text{
                font-family: "Druk_Wide_Cyr";
                display: block;
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 60px */
                letter-spacing: -1px;
                text-transform: uppercase;
            }
            .end-button{
                display: none;
                @include tabletHorizontal{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    button{
                        padding: 20px 30px;
                        border: 1px solid black;
                    }
                    .button-tarif{
                        display: flex;
                        gap: 10px;
                        button{
                            padding: 10px;
                            border: none;
                            border-radius: 1000px;
                            background: rgba(0, 0, 0, 0.10);
                        }
                    }
                }
            }
            .swipere{
                display: none;
                @include tabletHorizontal{
                    display: block;
                }
                
                .contant-mobile{
                    .slider-tarif{
                        display: flex;
                        flex-direction: column;
                        .text-white{
                            padding: 30px 20px;
                            background-color: #FFF;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            .h1-text{
                                font-family: "Gilroy";
                                font-size: 32px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%; /* 38.4px */
                                letter-spacing: -0.64px;
                            }
                        }
                        .p-text{
                            display: block;
                            padding: 20px;
                            font-family: "Gilroy";
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 21.6px */
                            letter-spacing: -0.36px;
                        }
                        .bg{
                            background-color: rgba(0, 0, 0, 0.05);
                        }
                    }
                }
            }
            .content-start{
                display: flex;
                gap: 341px;
                @include laptop{
                    gap: 108px;
                }
                @include tabletHorizontal{
                    display: none;
                }
                .p-text{
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 38.4px */
                    letter-spacing: -0.64px;
                }
                .text{
                    display: flex;
                    gap: 20px;
                    
                    .vip{
                        width: 415px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        text-align: center;
                        .h1-text{
                            font-family: "Gilroy";
                            font-size: 48px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 100%;
                        }
                        .p-text{
                            font-family: "Gilroy";
                            font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%; /* 21.6px */
                                letter-spacing: -0.36px;
                        }
                    }
                }

            }
            .table{
                @include tabletHorizontal{
                    display: none;
                }
                .main-content{
                    display: flex;
                    background-color:rgba(0, 0, 0, .1) ;
                    padding: 10px 15px;
                    justify-content: space-between;
                    .p-text{
                        font-family: "Gilroy";
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 120%; /* 24px */
                        letter-spacing: -0.4px;
                    }
                    .arror{
                        display: flex;
                        gap: 403px;
                        .marhin{
                            margin-right: 267px;
                            @include small_laptop{
                                margin-right: 28px;
                            }
                        }
                    }
                }
                .no{
                    background: none;
                }
            }
            .contant-mobile{

            }
            .contant-end{
                @include tabletHorizontal{
                    display: none;
                }
                display: flex;
                flex-direction: column;
                gap: 50px;
                .prices{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    gap: 316px;
                    .price{
                        text-align: center;
                        .h1-text{
                            font-family: "Gilroy";
                            font-size: 48px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 100%; /* 48px */
                        }
                        .p-text{
                            font-family: "Gilroy";
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 28.8px */
                            letter-spacing: -0.48px;
                        }
                    }
                    .end{
                        margin-right: 233px;
                        @include small_laptop {
                            margin-right: -13px;
                        }
                    }
                }
                .caramome{
                    display: flex;
                    justify-content: space-between;
                    .h1-text{
                        font-family: "Druk_Wide_Cyr";
                        font-size: 50px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 60px */
                        letter-spacing: -1px;
                        text-transform: uppercase;
                    }
                    .button{
                        display: flex;
                        gap: 20px;
                        button{
                            border: 2px solid ;
                            width: 415px;
                            @include small_laptop{
                                width: 349px;
                            }
                            
                        }
                        .mar{
                            margin-right: 95px;
                            @include small_laptop{
                                margin: 0;
                            }
                        }
                    }
                }
            }
            
        }
    }
    .result-section{
        padding: 140px 0;
        .result-container{
            display: flex;
            flex-direction: column;
            gap: 80px;
            .descktop{
                @include tabletHorizontal{
                    display: none;
                }
            }
            
            .start{
                .h1-text{
                    font-family: "Druk_Wide_Cyr";
                    width: 1215px;
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 60px */
                    letter-spacing: -1px;
                    text-transform: uppercase;
                    @include tabletHorizontal{
                        font-size: 24px;
                        width: 335px;
                    }
                    .grey{
                        font-family: "Druk_Wide_Cyr";
                        color: #999;
                        font-size: 50px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 60px */
                        letter-spacing: -1px;
                        text-transform: uppercase;
                    }
                }
                button{
                    width: 385px;
                    @include tabletHorizontal{
                        display: none;
                    }
                }
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            
            .photo{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 20px;
                @include tabletHorizontal{
                    display: none;
                }
                img{
                    max-width: 415px;
                    @include laptop{
                        max-width: 350px;
                    }
                    @include small_laptop{
                        max-width: 292px;
                    }
                }
            }
            
        }
        .mobile-contant{
            display: none;
            @include tabletHorizontal{
                display: block;
            }
            img{
                width: 100%;
            }
            .h1-text{
                font-family: "Druk_Wide_Cyr";
                width: 335px;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 60px */
                letter-spacing: -1px;
                text-transform: uppercase;
                
        }
        .end-contant{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .button-programm{
                display: flex;
                gap: 10px;
                button{
                    border: none;
                    border-radius: 1000px;
                    padding: 10px;
                    background: rgba(0, 0, 0, 0.10);
                }
            }   
        }
    }
        
    }
    .rewievs-section{
        background-color: $black;
        padding: 140px 0;
        .rewievs-container{
            display: flex;
            flex-direction: column;
            gap: 40px;
            .start{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .one{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    .h1-text{
                        font-family: "Druk_Wide_Cyr";
                        color: $white;
                        font-size: 50px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 60px */
                        letter-spacing: -1px;
                        text-transform: uppercase;
                    }
                    .p-text{
                        width: 492px;
                        font-family: "Gilroy";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 28.8px */
                        letter-spacing: -0.48px;
                        color: $white;
                        opacity: 0.6;
                    }
                }
            }
            .cards{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 20px;
                @include small_laptop{
                    grid-template-columns: 1fr 1fr 1fr;
                }
                .card{
                    border: 2px solid $white;
                    .one{
                        padding: 30px;
                        display: flex;
                        gap: 20px;
                        border-bottom: 2px solid $white;
                        .h1-text{
                            display: block;
                            font-family: "Gilroy";
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 38.4px */
                            letter-spacing: -0.64px;
                            color: $white;
                            max-width: 238px;
                        }
                    }
                    .text{
                        padding: 30px;
                        .p-text{
                            font-family: "Gilroy";
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%; /* 21.6px */
                            letter-spacing: -0.36px;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .about-section{
        border: 1px solid black;
        .about-container{
            display: flex;
            justify-content: space-between;
            gap: 100px;
            flex-wrap: nowrap;
            align-items: center;
          .p-text{
            font-family: "Gilroy";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 24px */
            letter-spacing: -0.4px;
            max-width: 757px;
          }
        }
    }
    .charter-section{
        padding: 100px 0;
        background-color: $black;
        .charter-container{
            display: flex;
            gap: 20px;
            justify-content: center;
            img{
                @include laptop{
                    width: 350px;
                }
            }
        }
    }
    .card-section{
        padding-top: 160px;
        padding-bottom: 80px;
        .card-container{
            
            .content-text{
                .h1-text{
                    display: block;
                    font-family: "Druk_Wide_Cyr";
                        font-size: 50px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 60px */
                        letter-spacing: -1px;
                        text-transform: uppercase;
                        width: 1248px;
                }
            }
            .cars{
                display: flex;
                border-top: 1px solid ;
                border-bottom: 1px solid;
                .card{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    padding: 40px;
                    border-right: 1px solid $black;
                    .h1-text{
                        font-family: "Gilroy";
                        display: block;
                        font-size: 32px;
                        width: 274px;
                    }
                    .p-text{
                        font-family: "Gilroy";
                        display: block;
                        max-width: 386px;
                        font-size: 18px;
                    }
                }
                .border-right{
                    border-right: none;
                }
            }
        }
    }
    .call-section{
        padding-top: 100px;
        .call-container{
            display: flex;
            flex-direction: column;
            gap: 80px;
            .text{
                display: flex;
                flex-direction: column;
                gap: 40px;
                .h1-text{
                    display: block;
                    font-family: "Druk_Wide_Cyr";
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 60px */
                    letter-spacing: -1px;
                    text-transform: uppercase;
                    width: 922px;
                    .grey{
                        font-family: "Druk_Wide_Cyr";
                        color:  #999;
                    }
                }
                .p-text{
                    display: block;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 28.8px */
                    letter-spacing: -0.48px;
                    width: 912px;
                }
            }
            .cards{
                --container:100%;
                display: flex;
                border-top:1px solid ;
                .border{
                    border-right:1px solid ;
                    border-left:1px solid ;
                }
                .card{
                    display: flex;
                    padding: 40px;
                    gap: 30px;
                    .p-text{
                        display: block;
                        font-family: "Gilroy";
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 38.4px */
                        letter-spacing: -0.64px;
                        max-width: 365px;
                    }
                }
            }

        }
    }
    .purpose-section{
        padding: 100px 0;
        background: #999;
        .purpose-container{
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: flex-start;
            .h1-text{
                display: block;
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 60px */
                letter-spacing: -1px;
                text-transform: uppercase;
                color: $white;
                font-family: "Druk_Wide_Cyr";

            }
            .p-text{
                font-family: "Gilroy";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 28.8px */
                letter-spacing: -0.48px;
                color: $white;
            }
            .content{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .p-text{
                    display: block;
                    font-family: "Gilroy";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 24px */
                    letter-spacing: -0.4px;
                    padding: 20px 30px ;
                    border-radius: 1000px;
                    border: 2px solid #FFF;
                    color: white;
                }
                .one,.two,.three,.four{
                    display: flex;
                    gap: 10px;
                }
            }
            
        }
    }
    .online-section{
        background-color: $green;
        padding: 100px 0;
        .online-container{
            .start{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 40px;
                .h1-text{
                    display: block;
                    font-family: "Druk_Wide_Cyr";
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 60px */
                    letter-spacing: -1px;
                    text-transform: uppercase;
                    width: 869px;
                }
                button{
                    background-color: $black;
                    color: #FFF;
                }
            }
            .grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                border: 1px solid rgba(0, 0, 0, 0.05);
                .p-text{          
                    font-family: "Gilroy";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 24px */
                    letter-spacing: -0.4px;
                    max-width:100%;
                    padding: 20px;
                    display: flex;
                    height: 78px;
                    align-items: center;
                    
                }
                .grey{
                    background-color: rgba(0, 0, 0, 0.1);
                    border: 1px solid rgba(0, 0, 0, 0.05);
                }
                .aaa{
                    margin: 20px 0;
                    border: none;
                }
                .bbb{
                    margin: 20px 0px;
                    
                }
            }
        }
    }
    .eating-section{
        .eating-container{
            display: flex;
            .contant{
                margin-top: 80px;
                margin-left: 159px;
                padding-bottom:100px ;
                @include laptop{
                    margin-left: 38px;
                }
                display: flex;
                flex-direction: column;
                gap: 40px;
                .h1-text{
                    font-family: "Druk_Wide_Cyr";
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 60px */
                    letter-spacing: -1px;
                    text-transform: uppercase;
                    width: 803px;
                }
                .p-text{
                    width: 691px;
                    font-family: "Gilroy";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 24px */
                    letter-spacing: -0.4px;

                }
            } 
            .photo{
                display: flex;
                position: relative;
                width: 100%;
                border: 1px solid $black;
                img{
                    max-width: 529px;
                    max-height: 560px;
                }
            }
            .margin{
                position: absolute;
                top: 70px;
                left: 438px;
                width: 511px;
                @include laptop{
                    width: 400px;
                    position: absolute;
                    top: 167px;
                    left: 314px;
                }
            }
        }
    }
    .youtube-section{
        display: flex;
        align-items: center;
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            .h1-text{
                font-family: "Druk_Wide_Cyr";
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 60px */
                letter-spacing: -1px;
                text-transform: uppercase;
                width: 803px;
                @include laptop{
                    width: 769px;
                }
            }
            .p-text{
                font-family: "Gilroy";
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 24px */
                letter-spacing: -0.4px;
                width: 691px;
                @include laptop{
                    width: 768px;
                }
                
            }
        }
    }
    .personal-section{
        display: flex;
        .contant{
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding:80px 0 ;
            padding-left: 100px;
            width: 50%;
            .h1-text{
                font-family: "Druk_Wide_Cyr";
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 60px */
                letter-spacing: -1px;
                text-transform: uppercase;
                width: 779px
            }
            .p-text{
                width: 691px;
                font-family: "Gilroy";
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 24px */
                letter-spacing: -0.4px;
            }
            .price{
                font-family: "Gilroy";
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
            }
            button{
                max-width: 385px;
            }
            .small-text{
                margin-top: -20px;
                opacity: 0.4;
                width: 415px;
                font-family: "Gilroy";
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 14.4px */
                letter-spacing: -0.24px;
            }
        }
    }
    .blog-container-two{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .blog-section{
        background-color: $black;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 100px 0;
        
        .h1-text{
            display: block;
            font-family: "Druk_Wide_Cyr";
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 60px */
            letter-spacing: -1px;
            text-transform: uppercase;
            color: $white;
        }
        .blog-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            .card{
                display: flex;
                flex-direction: column;
                gap: 20px;
                img{
                    width: 100%;
                }
                .h1-text{
                    font-family: "Gilroy";
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 38.4px */
                    letter-spacing: -0.64px;
                    color: $white;
                    width: 309px;
                }
                .p-text{
                    font-family: "Gilroy";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 21.6px */
                    letter-spacing: -0.36px;
                    color: $white;
                    opacity: 0.4;
                    width: 335px;
                }
            }
        }
    }
    .faq-section{
        background-color: $black;
        padding: 186px 0;
        .faq-container{
                display: flex;
                flex-direction: column;
                gap: 40px;
                .h1-text{
                    display: block;
                    color: #FFF;
                    font-family: "Druk_Wide_Cyr";
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 60px */
                    letter-spacing: -1px;
                    text-transform: uppercase;
                }
                .cards{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0 60px;
                    .card{
                        display: flex;
                        justify-content: space-between;
                        padding: 45px 0;
                        border-top: 1px solid $white;
                        border-bottom: 1px solid $white;
                        .text{
                            display: flex;
                            flex-direction: column;
                            gap: 30px;
                            .h1-text{
                                display: block;
                                font-family: "Gilroy";
                                font-size: 32px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%; /* 38.4px */
                                letter-spacing: -0.64px;
                                @include laptop{
                                    font-size: 28px;
                                }
                            }
                            .p-text{
                                font-family: "Gilroy";
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%; /* 24px */
                                letter-spacing: -0.4px;
                                color: $white;
                                opacity: 0.4;
                            }
                            .none-one,.none-two,.none-three,.none-four,.none-five,.none-six{
                                display: none;
                            }
                            .block-one,.block-two,.block-three,.block-four,.block-five,.block-six{
                                display: block;                            
                            }
                        }
                        .plus-one,.plus-two,.plus-three,.plus-four,.plus-five,.plus-six{
                            display: block;
                        }
                        .plus-none-one,.plus-none-two,.plus-none-three,.plus-none-four,.plus-none-five,.plus-none-six{
                            display: none;
                        }
                        .minus-block-one,.minus-block-two,.minus-block-three,.minus-block-four,.minus-block-five,.minus-block-six{
                            display: block;
                        }
                        .minus-one,.minus-two,.minus-three,.minus-four,.minus-five,.minus-six{
                            display: none;
                        }
                    }
                }
        }
    }
    .map-section{
        background: $black;
        padding: 100px 0;
        padding-top: 186px;
        .map-container{
            display: flex;
            flex-direction: column;
            gap: 45px;
            .h1-text{
                color: #FFF;
                font-family: "Druk_Wide_Cyr";
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 60px */
                letter-spacing: -1px;
                text-transform: uppercase;
                @include tabletVertical{
                    font-size: 32px;
                }
            }
            .contant{
                display: flex;
                justify-content: space-between;
                @include tabletHorizontal{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 45px;
                }
                .text{
                    display: flex;
                    gap: 200px;
                    @include tabletHorizontal{
                        display: flex;
                        gap: 20px;
                        flex-direction: column;
                    }
                    a{
                        text-decoration: none;
                        .number{
                            display: flex;
                            gap: 20px;
                            .p-text{
                                color: $white;
                                font-family: "Gilroy";
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%; /* 28.8px */
                                letter-spacing: -0.48px;
                                @include tabletVertical{
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
                .icon{
                    display: flex;
                    gap: 15px;
                }
            }
        }
    }
    .main-error{
        display: flex;
        flex-direction: column;
        
        background-color:black;
        .h1-text{
            color: white;
            opacity: 0.2;
        }
        .ticker{
            margin-top: 50px;
        }
    }
    .content-error{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 160px 0;
        padding-bottom: 00px;
        gap: 40px;
        .h1-text{
            font-family: "Druk_Wide_Cyr";
            font-size: 78px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 93.6px */
            letter-spacing: -1.56px;
            text-transform: uppercase;
            text-align: center;
            color: white;
            width: 1180px;
            @include small_laptop{
                max-width: 700px;
                font-size: 50px;
            }
            @include tabletVertical{
                font-size: 30px;
                width: 335px;
            }
            @include mobile{
                width: 335px;
            }

        }
        button{
            width: 580px;
            @include tabletVertical{
                width: 335px;
            }
        }
    }
}
.ticker {
    width: 100%;
    padding: 1.5rem 0;
    overflow: hidden;
}
    .ticker__inner {
        display: flex;
        width: fit-content;
        gap: 100px;
    }

        .ticker__text {
            margin-right: 4rem;
            white-space: nowrap;
           
            text-transform: uppercase;
            font-size: 4rem;
           
            line-height: unset;

           

        }
        