@font-face {
    font-family: "Druk_Wide_Cyr";
    src: url(../fonts/drukCyr/drukwidecyr-bold.woff2),
    url(../fonts/drukCyr/drukwidecyr-bold.woff);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroy/Gilroy-Medium.woff2),
    url(../fonts/gilroy/Gilroy-Medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}